body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
